---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css'
// add fonts
import '@fontsource/jetbrains-mono'

export interface Props {
  title: string
  description: string
  image?: string
}

const { title, description, image = '/placeholder-social.jpg' } = Astro.props
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Google tag (gtag.js) -->
<script
  type="text/partytown"
  src="https://www.googletagmanager.com/gtag/js?id=G-0D8J8XRGJL"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag('js', new Date())
  gtag('config', 'G-0D8J8XRGJL')
</script>

<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';

  document.addEventListener("DOMContentLoaded", () => {
    const mermaidBlocks = document.querySelectorAll('pre > code.language-mermaid');

    mermaidBlocks.forEach((block) => {
      // Get Mermaid code
      const mermaidCode = block.textContent;

      // Create a new pre element with class 'mermaid'
      const pre = document.createElement('pre');
      pre.className = 'mermaid';
      pre.textContent = mermaidCode;

      // Replace the original pre/code block with the new pre.mermaid
      block.parentNode.replaceWith(pre);
    });

    // Initialize Mermaid
    if (window.mermaid) {
      mermaid.initialize({ startOnLoad: true, theme: 'forest' });
    }
  });
</script>
